{% extends 'base.html.twig'%}

{% block title%}Payment Success{% endblock %}

{% block body%}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-capitalize">Le paiement est un succès</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}